<section aria-label="Banner de búsqueda en blog" role="banner" class="blog-search-section">
  <div class="blog-search-section__content">
    <p>¡Bienvenidos a mi blog! Aquí encontrarás diversos posts sobre programación y tecnología.</p>
    <input title="Buscar" type="search" placeholder="Buscar">
    <ul aria-label="Lista de etiquetas" class="badge-list">
      <li><app-badge>label1</app-badge></li>
      <li><app-badge>label1</app-badge></li>
      <li><app-badge>label1</app-badge></li>
      <li><app-badge>label1</app-badge></li>
    </ul>
  </div>
</section>

<section aria-label="Publicaciones" class="posts-container">
  <app-blog-post-card />
  <hr>
  <app-blog-post-card />
</section>