.blog-search-section {
  height: max-content;
  padding-bottom: 4.8rem;
  background-image: url(https://images.unsplash.com/photo-1618401471353-b98afee0b2eb?q=80&w=1788&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-attachment: fixed;
  background-position: top;
  background-size: cover;

  >.blog-search-section__content {
    margin-top: 4.8rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    >input {
      margin: var(--spacer-1) 0;
    }
  }
}