<section>
  <p>¡Bienvenidos a mi blog! Aquí encontrarás diversos posts sobre programación y tecnología.</p>
  <input type="search">
  <ul>
    <li><span>etiq1</span></li>
    <li><span>etiq1</span></li>
    <li><span>etiq1</span></li>
    <li><span>etiq1</span></li>
  </ul>
</section>

<section>
  <article>
    <img src="https://placehold.co/600x400" alt="">
    <h2>Titulo del post</h2>
    <p>Extracto del post</p>
    <p>Leer más</p>
    <p>Fecha de publicación</p>
  </article>
  <hr>
  <article>
    <img src="https://placehold.co/600x400" alt="">
    <h2>Titulo del post</h2>
    <p>Extracto del post</p>
    <p>Leer más</p>
    <p>Fecha de publicación</p>
  </article>
  <hr>
  <article>
    <img src="https://placehold.co/600x400" alt="">
    <h2>Titulo del post</h2>
    <p>Extracto del post</p>
    <p>Leer más</p>
    <p>Fecha de publicación</p>
  </article>
  <hr>
  <article>
    <img src="https://placehold.co/600x400" alt="">
    <h2>Titulo del post</h2>
    <p>Extracto del post</p>
    <p>Leer más</p>
    <p>Fecha de publicación</p>
  </article>
</section>
