<section class="blog-search-section">
  <div>
    <p>¡Bienvenidos a mi blog! Aquí encontrarás diversos posts sobre programación y tecnología.</p>
    <input title="Buscar" type="search" placeholder="Buscar">
    <ul class="badge-list">
      <li><app-badge>label1</app-badge></li>
      <li><app-badge>label1</app-badge></li>
      <li><app-badge>label1</app-badge></li>
      <li><app-badge>label1</app-badge></li>
    </ul>
  </div>
</section>

<section class="posts-container">
  <app-blog-post-card />
  <hr>
  <app-blog-post-card />
</section>
