.hero {
  position: relative;

  >.hero__me {
    aspect-ratio: 1/1;
    width: 50%;
    max-width: 25rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 5rem auto;
  }

  >.hero__info {
    >p {
      margin-top: 2rem;
    }

    >.info__icons {
      position: absolute;
      width: calc(100% - var(--container-padding-x-sm) * 2);
      bottom: 5rem;
      display: flex;
      justify-content: space-between;

      >a {
        color: inherit;
        text-decoration: none;
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.2rem;

        >.icon {
          position: relative;
          width: 6.8rem;
          height: 6.8rem;
          border-radius: 50%;

          >svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }

        >span {
          display: block;
          max-width: fit-content;
        }
      }
    }
  }
}

.skills {
  height: fit-content;

  >.skills__container {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

.experience {
  >ul {
    margin-top: 4rem;

    >li {
      margin-bottom: 4rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media (width >=768px) {
  .hero {
    >.hero__info {
      >.info__icons {
        width: calc(100% - var(--container-padding-x-md) * 2);
      }
    }
  }
}

@media (width >=992px) {
  .skills {
    >.skills__container {
      margin-top: 6rem;
      gap: 6rem;
    }
  }
}

@media (width >=1200px) {
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14rem;
    text-align: start;

    >.hero__me {
      margin: 0;
      max-width: 30%;
    }

    >.hero__info {
      max-width: 50rem;

      >p {
        margin-bottom: 2rem;
      }

      >.info__icons {
        position: relative;
        bottom: initial;
        width: 100%;
      }
    }
  }
}