.hero {
  >img {
    width: 80%;
    max-width: 25rem;
    height: auto;
    border-radius: 50%;
    margin: 5rem 0;
  }

  >.hero__info {
    >p {
      margin-top: var(--spacer-1);
    }

    >.info__icons {
      height: 28rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      place-items: center;
      row-gap: var(--spacer-2);
      margin-top: var(--spacer-1);
    }
  }
}

.landing-section {
  text-align: center;

  >h2,
  >p {
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.skills {
  height: max-content;

  >.skills__container {
    margin-top: var(--spacer-2);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacer-2);
  }
}

.icons-group {
  display: flex;
  justify-content: space-between;
  max-width: 55rem;
  height: 13rem;
  margin: var(--spacer-1) auto 0 auto;
}

.experience {
  >ul {
    margin-top: var(--spacer-2);

    >li {
      margin-bottom: var(--spacer-2);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media (width >=576px) {
  .hero {
    >.hero__info {
      >.info__icons {
        height: 13rem;
        display: flex;
        justify-content: center;
        gap: var(--spacer-1);
      }
    }
  }
}

@media (width >=992px) {
  .hero {
    height: 100vh;

    >.hero__info {
      >.info__icons {
        gap: var(--spacer-2);
      }
    }
  }

  .skills {
    >.skills__container {
      margin-top: 6rem;
      gap: 6rem;
    }
  }
}

@media (width >=1200px) {
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12rem;

    >img {
      margin: 0;
      width: 30%;
      max-width: 40rem;
    }

    >.hero__info {
      max-width: 50rem;

      >p {
        margin-bottom: var(--spacer-1);
      }

      >.info__icons {
        position: relative;
        bottom: initial;
        width: 100%;
      }
    }
  }
}