.post-card {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-1);

  >.post-card__image {
    height: 25rem;

    >img {
      object-fit: cover;
    }
  }

  >.post-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    >.post-content__title {
      display: -webkit-box;
      line-clamp: 2;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    >.post-content__preview {
      display: none;
    }

    >.post-content__footer {
      display: flex;
      gap: 1.5rem;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
    }
  }
}

@media (width >=992px) {
  .post-card {
    >.post-content {
      >.post-content__preview {
        display: block;
      }
    }
  }
}

@media (width >=1200px) {
  .post-card {
    flex-direction: row;

    >.post-card__image {
      height: 19rem;
      width: 30rem;
      min-width: 30rem;
    }

    >.post-content {
      justify-content: space-between;

      >.post-content__title {
        line-clamp: 1;
        -webkit-line-clamp: 1;
        text-overflow: ellipsis;
      }

      >.post-content__preview {
        display: -webkit-box;
        line-clamp: 3;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      >.post-content__footer {
        justify-content: start;
      }
    }
  }
}