<article class="post-card">
  <div class="post-card__image">
    <img class="max-img" src="https://placehold.co/600x400" alt="">
  </div>
  <div class="post-content">
    <h3 class="post-content__title">
      Titulo del pps oosdf ewfwefw we fwefwe fe
    </h3>
    <p class="post-content__preview">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, commodi. Blanditiis excepturi, consectetur
      optio voluptates laudantium expedita! Maxime culpa modi corporis harum voluptates neque sint sit praesentium.
      Ex,
      delectus id!
    </p>
    <div class="post-content__footer">
      <app-link text="Ver post" [toRoute]=true />
      <span>19 de junio 2024</span>
    </div>
  </div>
</article>
