<nav>
  <a href="">Volver</a>
  <ul class="badge-list">
    <li><app-badge>etiqueta1</app-badge></li>
    <li><app-badge>etiqueta1</app-badge></li>
    <li><app-badge>etiqueta1</app-badge></li>
    <li><app-badge>etiqueta1</app-badge></li>
  </ul>
</nav>
<header>
  <h2>Título del post</h2>
  <div>
    <p>~ Autor ~ Actualizado 28 de marzo de 2024</p>
    <app-stars-rating />
  </div>
</header>
<article>
  <figure>
    <img src="http://placeholder">
  </figure>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam at velit est, quis nihil unde sunt necessitatibus
    ea cum quisquam nemo magni quam tempore, sed voluptas nobis deserunt mollitia quo.
  </p>
  <hr>
</article>
<section>
  <p>Comentarios (xx)</p>
  <form>
    <img src="https://placehold.co/600x400" alt="avatar">
    <fieldset>
      <app-stars-rating />
      <label>Comentario</label>
      <textarea title="Comentario" name="comment" cols="30" rows="10"></textarea>
      <button type="submit">Enviar</button>
    </fieldset>
  </form>
  <ul>
    <li>
      <img src="https://placehold.co/600x400" alt="user-avatar#">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem iste deleniti placeat dolor, quod
        incidunt unde maiores officiis necessitatibus odio explicabo minima. Veniam cum dolor voluptas excepturi
        voluptatem quos iure.
      </p>
    </li>
    <li>
      <img src="https://placehold.co/600x400" alt="user-avatar#">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem iste deleniti placeat dolor, quod
        incidunt unde maiores officiis necessitatibus odio explicabo minima. Veniam cum dolor voluptas excepturi
        voluptatem quos iure.
      </p>
    </li>
    <li>
      <img src="https://placehold.co/600x400" alt="user-avatar#">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem iste deleniti placeat dolor, quod
        incidunt unde maiores officiis necessitatibus odio explicabo minima. Veniam cum dolor voluptas excepturi
        voluptatem quos iure.
      </p>
    </li>
  </ul>
</section>
