<header aria-labelledby="post-title" class="container navbar-on-top">
  <nav aria-label="Navegación de la publicación" class="post-navbar">
    <a tabindex="0" class="button" (click)="goBack()">Volver</a>
    <ul aria-label="Etiquetas de la publicación" class="badge-list">
      <li><app-badge>etiqueta1</app-badge></li>
      <li><app-badge>etiqueta1</app-badge></li>
      <li><app-badge>etiqueta1</app-badge></li>
      <li><app-badge>etiqueta1</app-badge></li>
    </ul>
  </nav>
  <h2 id="post-title">Título del post</h2>
  <div class="post-info">
    <p>~ AngelMaldonado ~ Actualizado 28 de marzo de 2024</p>
    <app-stars-rating class="post-info__stars" />
  </div>
</header>
<article aria-label="Post" class="container">
  <figure>
    <img class="max-img" src="https://placehold.co/600x400">
  </figure>
  <div class="content">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam at velit est, quis nihil unde sunt necessitatibus
      ea cum quisquam nemo magni quam tempore, sed voluptas nobis deserunt mollitia quo.
    </p>
  </div>
</article>
<hr>
<section aria-labelledby="comentarios" class="comments">
  <h3 id="comentarios">Comentarios (xx)</h3>
  <form aria-label="Agrega tu comentario" class="user-comment-form">
    <div class="user-pic">
      <img class="max-img" src="https://placehold.co/600x400" alt="avatar">
    </div>
    <fieldset>
      <label for="comment">Deja tu comentario</label>
      <textarea name="comment" cols="30" rows="10"></textarea>
      <app-stars-rating class="stars" />
      <button type="submit">Enviar</button>
    </fieldset>
  </form>
  <ul aria-label="Lista de comentarios">
    <li>
      <div class="user-pic">
        <img class="max-img" src="https://placehold.co/600x400" alt="user-avatar#">
      </div>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem iste deleniti placeat dolor, quod
        incidunt unde maiores officiis necessitatibus odio explicabo minima. Veniam cum dolor voluptas excepturi
        voluptatem quos iure.
      </p>
    </li>
    <li>
      <div class="user-pic">
        <img class="max-img" src="https://placehold.co/600x400" alt="user-avatar#">
      </div>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem iste deleniti placeat dolor, quod
        incidunt unde maiores officiis necessitatibus odio explicabo minima. Veniam cum dolor voluptas excepturi
        voluptatem quos iure.
      </p>
    </li>
    <li>
      <div class="user-pic">
        <img class="max-img" src="https://placehold.co/600x400" alt="user-avatar#">
      </div>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem iste deleniti placeat dolor, quod
        incidunt unde maiores officiis necessitatibus odio explicabo minima. Veniam cum dolor voluptas excepturi
        voluptatem quos iure.
      </p>
    </li>
  </ul>
</section>