.landing-project-card {
  .landing-project-card__date {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacer-1);
    margin-bottom: var(--spacer-1);

    >svg {
      width: 2.8rem;
      height: 2.8rem;
    }
  }

  >.landing-project-card__content {
    >.content__img {
      height: 20rem;

      >img {
        object-fit: cover;
      }
    }

    >.content__text {
      margin-top: var(--spacer-1);
      display: flex;
      flex-direction: column;
      gap: var(--spacer-1);

      >p {
        display: -webkit-box;
        line-clamp: 4;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }
}

@media (width >=992px) {
  .landing-project-card {

    >.landing-project-card__date {
      justify-content: start;
    }

    >.landing-project-card__content {
      display: flex;
      gap: var(--spacer-2);

      >.content__img {
        width: 100rem;
        height: auto;
        max-height: 23.6rem;
      }

      >.content__text {
        margin: 0;
        justify-content: space-between;
        text-align: start;
        align-items: start;
        line-clamp: 6;
        -webkit-line-clamp: 6;
      }
    }
  }
}