.landing-tech-card {
  background: var(--landing-tech-card-bg);

  >img {
    width: 70%;
  }

  >h3 {
    margin-top: var(--spacer-1);
    padding: 0 1rem 2rem 1rem;
  }
}

@media (width >=992px) {
  .landing-tech-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacer-1);

    >img {
      position: relative;
      width: 30%;
      bottom: 3rem;
    }

    h3 {
      margin: 0;
      padding: 0;
    }
  }
}

@media (width >=1200px) {
  .landing-tech-card {
    justify-content: start;
    padding-left: var(--spacer-2);
  }
}
