@import url("reset.css");

:root {
  /** COLORS **/
  --primary-color-100: #111827;
  --primary-color-50: #1F2937;
  --highlight-color-100: #EF4444;
  --white: #fff;
  /** PADDINGS **/
  --container-padding-x-sm: 1.5rem;
  --container-padding-x-md: 14rem;
  --container-padding-y-sm: 7.2rem;
  --container-padding-y-md: 7.2rem;
  --navbar-padding-sm: var(--container-padding-x-sm) 2rem;
  --navbar-padding-lg: var(--container-padding-x-sm) 5rem;
  --btn-padding: 1rem 2rem;
  --btn-fs: 1.6rem;
}

html {
  box-sizing: border-box;
  color: var(--white);
  background-color: var(--primary-color-100);
  font-family: Arial, Helvetica, sans-serif;
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  /* 1rem = 10px */
  font-size: 1.6rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/** COMMON **/
section,
.landing-section {
  text-align: center;
}

.landing-section {

  >h2,
  >p {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
  }
}

section {
  padding: var(--container-padding-y-sm) var(--container-padding-x-sm);
}

@media (width >=768px) {
  section {
    padding: var(--container-padding-y-md) var(--container-padding-x-md);
  }
}

@media (width >=1200px) {
  section {
    text-align: start;
  }
}

/** FONTS **/
h1 {
  font-size: 5.6rem;
}

h2 {
  font-size: 4.5rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 3rem;
}

p {
  font-size: 1.8rem;
  line-height: 3rem;
}

.caption-text {
  font-size: 1.4rem;
  line-height: 2.4rem;
}

/** UTILITIES **/
.gradient-bottom {
  background: rgb(31, 41, 55);
  background: linear-gradient(0deg, rgba(31, 41, 55, 1) 0%, rgba(31, 41, 55, 0.49576327112876406) 20%, rgba(255, 255, 255, 0) 100%);
}

.gradient-top {
  background: rgb(31, 41, 55);
  background: linear-gradient(180deg, rgba(31, 41, 55, 1) 0%, rgba(31, 41, 55, 0.49576327112876406) 20%, rgba(255, 255, 255, 0) 100%);
}

.bg-primary-50 {
  background-color: var(--primary-color-50);
}

.max-img {
  width: 100%;
  height: 100%;
}

.vh-100 {
  height: 100vh;
}
