@import url("reset.css");

:root {
  /** COLORS **/
  --primary-color-100: #111827;
  --primary-color-50: #1f2937;
  --primary-color-10: #636f7f;
  --highlight-color-100: #EF4444;
  --landing-tech-card-bg: linear-gradient(0deg, rgb(31, 41, 55, 1) 20%, rgb(17, 24, 39, .3) 100%);
  --white: #fff;
  /** BORDERS **/
  --focus-outline: 1px solid var(--white);
  --focus-border-radius: 2px;
  /** SIZES **/
  --navbar-height: 7.2rem;
  /** PADDINGS **/
  --container-padding-x: 1.5rem;
  --container-padding-y: 7.5rem;
  --navbar-padding: 1.5rem 2rem;
  --btn-padding: 1rem 2rem;
  /** SPACERS **/
  --spacer-1: 2rem;
  --spacer-2: 4rem;
  /** TEXT **/
  --section-text-alignment: center;
  --btn-fs: 1.6rem;
}

@media (width >=768px) {
  :root {
    --container-padding-x: 14rem;
  }
}

@media (width >=992px) {
  :root {
    --navbar-padding: 1.5rem 5rem;
    --landing-tech-card-bg: linear-gradient(340deg, rgba(31, 41, 55, 1) 20%, rgba(31, 41, 55, 1) 55%, rgba(17, 24, 39, 0.3) 100%);
  }
}

@media (width >=1200px) {
  :root {
    --section-text-alignment: start;
  }
}

html {
  box-sizing: border-box;
  color: var(--white);
  background-color: var(--primary-color-100);
  font-family: Arial, Helvetica, sans-serif;
  /* 1rem = 10px */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  /* 1rem = 10px */
  font-size: 1.6rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/** COMMON **/
section,
.container {
  text-align: var(--section-text-alignment);
  padding: var(--container-padding-y) var(--container-padding-x);
}

.posts-container {
  >hr {
    margin: 4rem 0;
  }
}

input,
textarea {
  padding: var(--btn-padding);
  font: inherit;
  font-size: var(--btn-fs);
  border: none;
  border-radius: 0.4rem;
  outline: none;

  &:focus {
    outline: 3px solid var(--highlight-color-100);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  }
}

button,
.button {
  cursor: pointer;
  padding: 1rem;
  background-color: unset;
  outline: none;
  border: 2px solid var(--white);
  color: inherit;
  font-size: var(--btn-fs);
  transition: color .3s ease, border-color .3s ease;

  &:hover {
    color: var(--highlight-color-100);
    border-color: var(--highlight-color-100);
  }
}

/** FONTS **/
h1 {
  font-size: 5.6rem;
}

h2 {
  font-size: 4.5rem;
  margin-bottom: var(--spacer-1);
}

h3 {
  font-size: 3rem;
  line-height: 3.8rem;
}

p {
  font-size: 1.8rem;
  line-height: 3rem;
}

.caption-text {
  font-size: 1.4rem;
  line-height: 2.4rem;
}

/** UTILITIES **/
.navbar-on-top {
  margin-top: var(--navbar-height);
  padding: 4rem var(--container-padding-x) var(--container-padding-y) var(--container-padding-x);
}

.gradient-bottom {
  background: rgb(31, 41, 55);
  background: linear-gradient(0deg, rgba(31, 41, 55, 1) 0%, rgba(31, 41, 55, 0.49576327112876406) 20%, rgba(255, 255, 255, 0) 100%);
}

.gradient-top {
  background: rgb(31, 41, 55);
  background: linear-gradient(180deg, rgba(31, 41, 55, 1) 0%, rgba(31, 41, 55, 0.49576327112876406) 20%, rgba(255, 255, 255, 0) 100%);
}

.bg-primary-50 {
  background-color: var(--primary-color-50);
}

.max-img {
  width: 100%;
  height: 100%;
}

.vh-100 {
  height: 100vh;
}

@media (width >=768px) {
  .navbar-on-top {
    padding-left: var(--container-padding-x-md);
    padding-right: var(--container-padding-x-md);
  }
}

/** COMPONENTS **/
.badge-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  >li {
    line-height: 2.16rem;
  }
}

.user-pic {
  width: 10rem;
  /*7.2rem;*/
  height: 10rem;
  /*7.2rem;*/
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;

  >img {
    object-fit: cover;
  }
}