.link {
  cursor: pointer;
  position: relative;
  display: block;
  width: 100%;
  font-size: var(--btn-fs);
  color: var(--white);
  text-align: center;
  text-decoration: none;
  padding: var(--btn-padding);
  transition: color .3s ease-in-out;

  &::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--highlight-color-100);
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

  &:hover,
  &.active,
  &:focus {
    color: var(--highlight-color-100);
  }

  &:hover::before,
  &:focus::before,
  &.active::before {
    transform: scaleX(1);
  }
}
